.options {
  li {
    display: inline-block;
    width: 80px;
    height: 47px;
    margin-left: 10px;

    a {
      display: inline-block;
      width: 70px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      margin-top: 6px;
      border:1px solid rgba(236,97,73,.7);
      color: #ea6f5a;
      border-radius: 30px;
      text-decoration: none;
    }
  }
}
